<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/dashboard.css">
</head>

<body>

<div layout:fragment="content">

    <div th:if="${notice}" class="flash-message">
        <h3>[[${notice}]]</h3>
    </div>
    <div class="dash-layout">
    <section >
        <h2>Create New Post</h2>

        <form action="#" th:action="@{/posts}" th:object="${post}" method="post" class="new-post-form">
            <div>
                <label for="post-title">Title</label>
                <input class="create-input" type="text" th:field="*{title}" id="post-title" name="post-title"/>
            </div>
            <div>
                <label for="post-url">Link</label>
                <input class="create-input" type="text" th:field="*{postUrl}" id="post-url" name="post-url"/>
            </div>
            <div>
                <label for="post-text">Post Text</label>
                <textarea type="text" th:field="*{postText}" id="post-text" name="post-text"></textarea>
            </div>
            <button id="createPost-btn" type="submit" class="btn">Create</button>
        </form>
    </section>
    </div>
    <section th:if="${postList.size() > 0}">
        <h2 id="yourPost-header">Your Posts</h2>
        <ul class="yourPost-ul">
            <li class="yourPost-list" th:each="post : ${postList}">
                <div th:insert="fragments/post-fragment :: post-fragment"></div>
                <a th:href="@{/dashboard/edit/{id}(id=${post.id})}" class="edit-link">Edit</a>
            </li>
        </ul>
    </section>

</div>


</body>
</html>