<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Edit Post</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/editPost.css">
</head>

<body>

<div layout:fragment="content">

    <div th:if="${notice}" class="flash-message">
        <h3>[[${notice}]]</h3>
    </div>

    <a th:href="@{/dashboard}" class="dash-link"> &larr; Back to dashboard</a>
    <h2>
        Edit Post
    </h2>

    <form action="#" th:action="@{/posts/{id}(id=${post.id})}" th:object="${post}" method="post" class="edit-post-form">
        <div>
            <input id="edit-title" type="text" th:field="*{title}"/>
            <span th:text="${#strings.replace(post.postUrl,'http://','')}"></span>
            <textarea id="edit-postText" type="text" th:field="*{postText}"></textarea>
        </div>
        <div th:if="${post.voteCount == 1}" class="meta">
            [[${post.voteCount}]] point by [[${post.userName}]] on
            <span th:text="${#dates.format(post.postedAt, 'MM-dd-YY')}"></span>
            |
            <p  th:if="${post.comments.size() == 1}">[[${post.comments.size()}]] comment</p>
            <p  th:unless="${post.comments.size() == 1}">[[${post.comments.size()}]] comments</p>
        </div>
        <div th:unless="${post.voteCount == 1}" class="meta">
            [[${post.voteCount}]] points by [[${post.userName}]] on
            <span th:text="${#dates.format(post.postedAt, 'MM-dd-YY')}"></span>
            |
            <p  th:if="${post.comments.size() == 1}">[[${post.comments.size()}]] comment</p>
            <p  th:unless="${post.comments.size() == 1}">[[${post.comments.size()}]] comments</p>
        </div>
        <div class="edit-btns">
        <button type="submit" class="edit-post">Edit post</button>
        <button type="button" class="delete-post-btn">Delete post</button>
        </div>
    </form>


    <div th:if="${loggedIn}">
        <script src="/js/delete-post.js"></script>
    </div>
</div>


</body>
</html>