.comment{
    position: relative;
	background: var(--white);
	border: 2px solid var(--lightOrange);
	border-radius: .4em;
	margin-bottom:20px;
	padding:5px;
	width:95%;
}
.comment:nth-child(odd) :after{
    content: '';
	position: absolute;
	bottom: 0;
	left: 1.5%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: var(--lightOrange);
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}
.comment:nth-child(even) :after{
    content: '';
	position: absolute;
	bottom: 0;
	right: 1.5%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: var(--lightOrange);
	border-bottom: 0;
	border-right: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}