h2,div,a, input, textarea{
  font-family: var(--font)
}
p{
  margin:0
}
.dash-link{
    text-decoration:none;
    font-family:var(--font);
    color:var(--darkOrange)
}
.dash-link:hover{
    font-weight:bold;
}
.edit-post-form{
  margin-right:20px;
  margin-left:20px
}
#edit-title{
    display:block;
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    margin-bottom:10px;
}
#edit-postText{
    margin-top: 15px;
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    margin-bottom:10px;
}
.edit-btns{
    display:flex;
    justify-content:space-between;
}
.delete-post-btn,
.edit-post{
margin-top: 10px;
  background: var(--darkOrange);
  border: 1px solid var(--lightOrange);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: var(--white);
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}


.delete-post-btn:hover,
.delete-post-btn:active,
.edit-post:hover,
.edit-post:active{
  background-color: var(--white);
  background-position: 0 0;
  color: var(--darkOrange);
}
.delete-post-btn:active,
.edit-post:active{
  opacity: .5;
}