.login-signup{
    margin-top:50px;
    margin-bottom:50px;
}
.signup-login-content{
    display:flex;
    flex-direction: column;
    align-items:center;
}
.login-form,
.signup-form{
  background:#FFAE9D;
  padding:5%;
  border-radius: 25px;
}
.signup-form{
  margin-top:20px;
}
.signup-login-header{
   font-size:2em;
   text-decoration:underline;
   text-align:center;
   font-family:Trebuchet MS, sans-serif;
}
.signup-login-text{
    margin-bottom:10px;
    margin-top:15px;
    font-size:1.5em;
    font-family:Trebuchet MS, sans-serif;
}
.signup-login-input{
    width: 100%;
    color: rgb(36, 35, 42);
    font-size: 16px;
    line-height: 20px;
    min-height: 28px;
    border-radius: 4px;
    padding: 8px 16px;
    border: 2px solid transparent;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
    background: rgb(251, 251, 251);
    transition: all 0.1s ease 0s;
    :focus{
        border: 2px solid rgb(124, 138, 255);
    }
}
.btn-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.button-24 {
  margin-top: 10px;
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}
.button-24:hover,
.button-24:active {
  background-color: #FFFFFF;
  background-position: 0 0;
  color: #FF4742;
}
.button-24:active {
  opacity: .5;
}

@media screen and (min-width: 600px) {
  .login-signup{
      margin-top:100px;
      margin-bottom:100px;
  }
  .signup-login-content {
    display:flex;
    flex-direction: row;
    justify-content:space-around;
  }
  .signup-form{
    margin-top:0px;
  }
}