:root{
    --font:Trebuchet MS, sans-serif;
    --lightOrange:#FFAE9D;
    --darkOrange:#FF4742;
}
div{
    font-family:var(--font);
    line-height:1.3;
}
p{
    margin:0
}
.list-design{
    list-style-type: none;
}
.post{
      border-bottom: 5px solid var(--darkOrange);
      margin-bottom:20px;
      margin-right:50px;
}
.post-Title{
    text-decoration:none;
    font-family:var(--font);
    font-size:1.3em;
    font-weight: bold;
    color:black;
}
.post-Title:hover{
  text-shadow: 0 0 5px var(--lightOrange);
}
.points-design{
    margin-bottom:20px;
}
